body {
    height: 500px;
    width: 1300px;
    background: radial-gradient(circle at 200px 175px, #fff0 65px, #BFE7F1 75px 65px, #2793B0 115px 25px, #fff0 155px) no-repeat, url('../images/snail.jpg') no-repeat 125px 95px, url('../images/park.jpg') no-repeat 895px 35px, url('../images/squish.png') no-repeat 280px 120px, linear-gradient(to right, #E0EDF8, #62AEDA);

}

p {
    position: absolute;
    padding: 0;
    margin: 0;
    font-family: cursive;
    font-size: 25px;
}

#snails {
    top: 280px;
    left: 100px;
    color: #E95866;
}

#amusement-parks {
    top: 380px;
    left: 950px;
    color: #fff;
}

#squishmallows {
    bottom: 20px;
    left: 430px;
    color: #204979;
}